@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  html * {
    @apply focus-visible:outline-teal-300 focus-visible:outline-offset-2 focus:outline-teal-300;
  }
  *::selection {
    @apply bg-teal-300;
    @apply text-teal-900;
  }
  .text-subtle {
    @apply text-stone-400 dark:text-stone-600;
  }
  .text-moderate {
    @apply text-stone-600 dark:text-stone-400;
  }
  .text-strong {
    @apply text-stone-900 dark:text-stone-100;
  }
  .border-b-subtle {
    @apply border-b-[1px] last:border-b-0 border-stone-200 dark:border-stone-800;
  }
  .border-t-subtle {
    @apply border-t-[1px] last:border-t-0 border-stone-200 dark:border-stone-800;
  }
  .border-l-subtle {
    @apply border-l-[1px] last:border-l-0 border-stone-200 dark:border-stone-800;
  }
  .bg-gradient-subtle {
    @apply bg-gradient-to-t from-stone-200/15 to-stone-200/0 dark:from-stone-800/15 dark:to-stone-800/0;
  }
  .wrapper {
    @apply relative w-full max-w-5xl mx-auto py-16 md:py-20;
  }
  .h-padding {
    @apply px-20 md:px-24;
  }
  .grid-bg {
    background-image: radial-gradient(
      rgb(47, 48, 49) 0.5px,
      rgba(0, 0, 0, 0) 0px
    );
    background-repeat: repeat;
    background-position-x: -8.5px;
    background-position-y: -8.5px;
    background-size: 17px 17px;
  }
}
